.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #fafafa;
    border-bottom: 2px solid #CDD9E4;
    color: #34495E;

    h1 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;

        i {
            --fa-primary-color: #34495E;
            --fa-secondary-color: #E74C3C;
            --fa-secondary-opacity: 1.0;
            margin-right: 8px;
            font-size: 16px;
        }
    }
}

.linkContainer {
    display: flex;

    > div + div {
        margin-left: 32px;
    }

    div {
        cursor: pointer;
    }

    i {
        font-size: 18px;
        color: #34495E;
    }
}