.container {
    margin: 8px;
    border-radius: 4px;
    background-color: #fff;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    text-align: center;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 126px;
        height: 126px;
        margin-bottom: 24px;
        background-color: #fafafa;
        border: solid 2px #CDD9E4;
        border-radius: 50%;

        i {
            position: relative;
            font-size: 32px;
            color: #34495E;

            &::after {
                content: '';
                position: absolute;
                top: 55%;
                left: 55%;
                display: block;
                transform: rotate(40deg) translate(-50%, -50%);
                transform-origin: top left;
                width: 54px;
                height: 3px;
                background-color: #85929F;
                outline: 3px solid #fafafa;
            }
        }
    }

    h1 {
        margin: 0;
        margin-bottom: 8px;
        font-size: 20px;
        color: #222222;
    }

    p {
        font-size: 14px;
        color: #85929F;
        margin-bottom: 16px;
    }
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fafafa;
    border-top: 2px solid #CDD9E4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    button {
        padding: 20px 32px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        background-color: #34495E;
        border-radius: 12px;
        border: 2px solid #34495E;
        cursor: pointer;

        i {
            margin-right: 12px;
            font-size: 16px;
        }
    }

    .cancelButton {
        margin-right: 8px;

        button {
            background-color: #EAECEE;
            border: 2px solid #34495E;
            color: #34495E;

            i {
                font-size: 18px;
            }
        }
    }

    .resetButton {
        margin-left: 8px;
    }
}