.out {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 414px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 414px;
    margin: 0 auto;
}

.showOverlay {
    &::before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #34495E;
        opacity: .6;
    }
}

.bottomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 2px solid #CDD9E4;
    background-color: #fafafa;
}